#video {
  width: 750px;
  font-family: 'Courier New', 'Courier', monospace;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: -1.5px;
  text-align: center;
  margin: 0px auto;
  display: none;
}

#notSupported {
  display: none;
}

#share {
  text-align: center;
}
